
html, body{
	height: 100%;
}


/** Flex CSS **/
#wrapper{
	display: flex;
	flex-direction: row;
	flex: 1;
	height: 100%;
}

#sidebar{
	height: 100%;
	width: 400px;
	position: fixed;

	/*background-color: #F8CD53;*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../asset/img/csulbTower.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position	: auto auto;
	background-size: 35% 100%;

}

#content-page{
	margin-left: 400px;
	height: 100%;
	width: 100%;
	float: right;
	/*width: 80%;*/
	overflow-x: hidden;
}

/****************/


#main{
	height: 100%;
	/*background: #F8CD53;*/
	/*
	background-attachment:fixed;*/
}

/** Menu Bar **/
#menu-bar{
	position: fixed;
	margin-top: -100px;
	width: 80%;
	background-color: white;
	z-index: 500;
}

#menu-tab{
	text-align: center;
	padding: 30px;
	/*background: red;*/
}

.activePage{

    background: #F8CD53; 
}

#menu-tab a{
	/*background: yellow;*/
	padding: 10px;
	margin-right: 40px;
	color: black;
	text-decoration: none;
	outline: none;
}

#menu-tab a:hover{
	text-decoration: none;
}

#menu-tab a:active{
	text-decoration: underline;
	/*outline: none;*/
}

#menu-tab a:visited{
	text-decoration: none;
}

/*************/

#view-content{
	margin-top: 100px;
}

#campus-map{
	/*background-image:url('../campusMap.pdf');*/
	height: 100px;
	/*background-image:url('https://sbloom2.files.wordpress.com/2016/03/b0936-testimages.jpeg?w=400&h=265');*/
}

/** Announcement Page **/
.box{

	width: 100%;
	background: transparent linear-gradient(to right bottom, #3498DB, #2992D8) repeat scroll 0% 0%;
	border-radius: 2px;
	color: #34495E;
	margin-bottom: 2.5%;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.box-timestamp{
	padding: 1.5% 2% 1.5% 3%;
	color: #ECF0F1;
	font-weight: 700;
	/*width: 12.3333% !important;*/
	width: 15% !important;
}

.box-message{
	padding: 1.5% 3% 1.5% 2%;
	color: #ECF0F1;
	width: 86.6667% !important;
	width: 75% !important;
}

.box-button{
	text-align: right;
	height: auto;
	padding: 1.5% 3% 1.5% 2%;
}

.announcement-content div{
	padding: 10px;
	background: white;
	color:black;
}

/****************/

/** Side Bar **/
#sidebar .wrapper{
	text-align: center
}
#sidebar-logo{
	max-width:100%;
	max-height:100%;
}