/*
Need sass variables, but we do not have them ;'(

White: #F2F2F2F2
black: #040404
*/


html, body{
	height: 100%;
}


/** Flex CSS **/
#wrapper{
	display: flex;
	flex-direction: row;
	flex: 1;
	height: 100%;
}

#sidebar{
	height: 100%;
	width: 400px;
	position: fixed;
	background: yellow;
	/*background-image: url("../asset/img/csulbTower.jpg");*/
	/*background-color: #F8CD53;*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../asset/img/csulbTower.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment:fixed;*/
	/*background-position	: auto auto;*/
	/*background-size: 35% 100%;*/

}


#content-page{
	margin-left: 400px;
	height: 100%;
	width: 100%;
	float: right;
	/*width: 80%;*/
	overflow-x: hidden;
}

/****************/


#main{
	height: 100%;
	/*background: #F8CD53;*/
	/*
	background-attachment:fixed;*/
}

/** Menu Bar **/
#menu-bar{
	position: fixed;
	margin-top: -100px;
	width: 100%;
	background-color: #F2F2F2F2;
	z-index: 500;
	overflow-x: auto;
}

#menu-tab{
	/*text-align: center;*/
	padding: 30px;
	/*background: red;*/
}

.activePage {
    background: #F8CD53;
		border-radius: 5px;
}

#menu-tab a {
	/*background: yellow;*/
	padding: 10px;
	margin-right: 40px;
	color: #040404;
	text-decoration: none;
	outline: none;
}

#menu-tab a:hover {
	text-decoration: none;
}

#menu-tab a:active{
	text-decoration: underline;
	/*outline: none;*/
}

#menu-tab a:visited{
	text-decoration: none;
}

/*************/

#view-content{
	margin-top: 100px;
	width: 95%;
	height: 85%;
}

#campus-map{
	/*background-image:url('../campusMap.pdf');*/
	height: 100px;
	/*background-image:url('https://sbloom2.files.wordpress.com/2016/03/b0936-testimages.jpeg?w=400&h=265');*/
}

/** Announcement Page **/
.box{

	width: 100%;
	/*background: transparent linear-gradient(to right bottom, #3498DB, #2992D8) repeat scroll 0% 0%;*/
	/*#F8CD53*/
	background: transparent linear-gradient(to right bottom, #F8CD53, #F8CD53) repeat scroll 0% 0%;
	border-radius: 2px;
	color: #34495E;
	margin-bottom: 2.5%;
	margin-left: 0px !important;
	margin-right: 0px !important;
	min-width: 300px;
}

.box-timestamp {
	padding: 1.5% 2% 1.5% 3%;
	color: #040404;
	font-weight: 700;
	min-width: 100px;
	width: 15% !important;
}

.box-message {
	padding: 1.5% 3% 1.5% 2%;
	color: #040404;
	width: 65% !important;
	min-width: 200px;
}

.box-button{
	text-align: right;
	height: auto;
	padding: 1.5% 3% 1.5% 2%;
}

.announcement-content div{
	padding: 10px;
	background: #F2F2F2F2;
	color: #040404;
}

/** Mentor **/
.form-group{
	padding-left: 3%;
	margin-bottom: 15px;
}

.form-horizontal .form-group{
	margin-right: -15px;
	margin-left: -15px;
}

/****************/

/** Side Bar **/
#sidebar .wrapper{
	text-align: center
}
#sidebar-logo{
	max-width:100%;
	max-height:100%;
}


/** Schedule **/
#schedule{
	/*background: linear-gradient(330deg, #4C4491 0%, #FD5C63 100%);*/
	height: 100%;
}
#schedule .date {
	text-transform: uppercase;
	text-align: center;
}

#schedule ul.date-schedule{
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

#schedule ul.date-schedule li {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
  justify-content: center;
	margin: 0;
	padding: 0;
}

#schedule ul.date-schedule li .time {
	text-align: right;
	width: 50%;
}

#schedule ul.date-schedule li>div{
	padding-right: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#schedule ul.date-schedule li .event{
	width: 50%;
}

#schedule ul.date-schedule li .title{
	font-family: FFDINWebBold, Helvetica, Arial, sans-serif;
}
/**************/


/** Small Screen **/
@media screen and (max-width: 990px) {
    /*body {
        background-color: lightgreen;
    }*/
    #content-page{
    	margin-left: 0;
    }

    #sidebar{
    	display:none;
    }

}


/**
***********************
  LOADING SPINNER
***********************
**/

.loadingSpinner {
		height:60px;
		width:60px;
		margin:0px auto;
		animation: rotation .6s infinite linear;
		border-left:6px solid #11c1f3;
		border-right:6px solid #11c1f3;
		border-bottom:6px solid #11c1f3;
		border-top:6px solid #387ef5;
		border-radius:100%;
		z-index: 2;
		margin-bottom: 10px;
}
