<div class="row" style="height: 100%;">
	<div style="height: 100%;">

		<!-- Loading Spinner while we are waiting for requests -->
		<!-- <div ng-if="!content || content.length <= 0" class="loadingSpinner">
			<img src="https://s-media-cache-ak0.pinimg.com/originals/72/66/03/7266036c9f3383d21730484150602f01.gif">
		</div> -->
		<div ng-if="content == 'default'" class="loadingSpinner">
		</div>
		<!-- Announcement Message Box -->
		<div class="box row animated fadeInUp" ng-repeat="c in content" ng-if="content != 'default'">
			<div class="box-timestamp col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<div>{{c.timestamp.date}}</div>
				<div>{{c.timestamp.time}}</div>
			</div>
			<div class="box-message col-xs-10 col-sm-10 col-md-10 col-lg-10">{{c.message}}</div>
		</div> <!-- Announcement Message Box -->
		
		<div class="box row animated fadeInUp" >
			<div class="box-timestamp col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<div>APR 22</div>
				<div>1:40 pm</div>
			</div>
			<div class="box-message col-xs-10 col-sm-10 col-md-10 col-lg-10">Hello, If you haven't signed the waiver, please visit <a href="https://app.hellosign.com/s/41584479">https://app.hellosign.com/s/41584479</a> to sign it . Thank you</div>
		</div> 
	</div>
</div>
