<div class="animated fadeIn" style="height: 100%" ng-controller="main_controller">

	<div id="map_nav">
		<ul>
		  <li><a ng-click="selectMap('campus')" ng-class="{'active': curMap == 'campus'}">Campus</a></li>
		  <li><a ng-click="selectMap('venue')" ng-class="{'active': curMap == 'venue'}">Venue</a></li>
		</ul>
	</div>
	<div id="campus-map" ng-show="curMap == 'campus'" class="animated fadeIn">
		<a target="_blank" href="https://i.imgur.com/hgsFmwP.png"><img class="campus-img" src="https://i.imgur.com/hgsFmwP.png" alt="" /></a>
	</div>

	<div id="campus-map" ng-show="curMap == 'venue'" class="animated fadeIn">
		<a target="_blank" href="https://i.imgur.com/m949vC0.png"><img class="campus-img" src="https://i.imgur.com/m949vC0.png" alt="" /></a>
	</div>
</div>
