<div class="animated fadeIn" style="height: 100%" ng-controller="main_controller">

	<div id="map_nav">
		<ul>
		  <li><a ng-click="selectMap('campus')" ng-class="{'active': curMap == 'campus'}">Campus</a></li>
		  <li><a ng-click="selectMap('venue')" ng-class="{'active': curMap == 'venue'}">Venue</a></li>
		</ul>
	</div>
	<div id="campus-map" ng-show="curMap == 'campus'" class="animated fadeIn">
		<a target="_blank" href="{{media.map_campus}}"><img class="campus-img" src="{{media.map_campus}}" alt="" /></a>
	</div>

	<div id="campus-map" ng-show="curMap == 'venue'" class="animated fadeIn">
		<a target="_blank" href="{{media.map_venue}}"><img class="campus-img" src="{{media.map_venue}}" alt="" /></a>
	</div>
</div>
