<div id="schedule" class="row">

	<!-- Loading Spinner while we are waiting for requests -->
	<div ng-if="!schedule" class="loadingSpinner">
		<img src="https://s-media-cache-ak0.pinimg.com/originals/72/66/03/7266036c9f3383d21730484150602f01.gif">
	</div>

	<div class="col-md-6" ng-repeat="(day, list) in schedule">
		<h2 class="date">{{day}}</h2>
		<ul class="date-schedule">
			<li ng-repeat="(time, event) in list">
				<div class="time">{{time}}</div>
				<div class="event">
					<div class="title">
						{{event.title}}
					</div>
					<div class="description">
						{{event.description}}
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
