<div id="song">
	<div class="box">
		<div class="box-message">
			<p>Song Request</p>
      <p><em>Please note, the DJ has the right to deny any songs the DJ deems
        unappropriate for the event.</em>
      </p>
		</div>
	</div>

	<!-- Loading Spinner while we are waiting for requests -->
	<div ng-if="loading" class="loadingSpinner">
	</div>

	<div class="box animated fadeIn" ng-show="!loading">
		<div class="box-message row" style="width: 100% !important; word-wrap: normal;">
			<form class="form-horizontal col-md-9" style="width: 100%">
				<div class="form-group">
					<label class="col-md-1 control-label" style="width: auto; margin-bottom: 5px;">Song's Title</label>
					<div class="col-md-10" style="float:right;">
						<input class="form-control"  ng-model="title"></input>
					</div>
				</div>
        <div class="form-group">
					<label class="col-md-1 control-label" style="width: auto; margin-bottom: 5px;">Song's Artist(s)</label>
					<div class="col-md-10" style="float:right;">
						<input class="form-control"  ng-model="artist"></input>
					</div>
				</div>
				<div class="col-md-12" style="padding-bottom: 25px;">
					<button type="submit" class="btn btn-default" ng-click="submitSong()">Submit</button>
				</div>
				<span ng-show="incomplete" style="color: red;">Incomplete inputs</span>
			</form>
		</div>
	</div> <!-- Box -->
</div>
