<div id="main">
	<!-- Menu Bar -->
	<div id="menu-bar">
		<div id="menu-tab" class="navButton" >
			<a ng-repeat="(name, url) in tab" ui-sref="public.{{url}}" ui-sref-active="activePage">{{name}}</a>
		</div>
	</div> <!-- Menu Bar -->

	<div id="view-content" class="container" style="">
		<ui-view></ui-view>
	</div>



	<!-- Login Modal -->
	<div id="loginModal" class="modal fade" role="dialog" ng-controller="login_controller">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">x</button>
					<h4 class="modal-title">Admin Login Only</h4>
				</div>
				<div style="padding-top: 5px; padding-left: 10px; color:red;" ng-show="failed">Failed Login!</div>
				<div class="modal-body">
					<input style="margin-bottom: 10px;" class="form-control" type="text" placeholder="User" ng-model="admin.user" required>
					<input class="form-control" type="password" placeholder="Password" ng-model="admin.password"required>
				</div>

				<div class="modal-footer">
					<button type="submit" ng-click="login(admin.user, admin.password)" class="btn btn-primary btn-lg btn-block">Login</button>
				</div>
			</div> <!-- Modal Content -->	

		</div>
	</div> <!-- Login Modal -->

</div>
