<div id="mentor">
	<div class="box">
		<div class="box-message">
			Request Mentor
		</div>
	</div>

	<div ng-if="loading">
		<div class="loadingSpinner"></div>
	</div>

	<div class="box animated fadeIn" ng-show="!loading">
		<div class="box-message row" style="width: 100% !important; word-wrap: normal;">
			<form class="form-horizontal col-md-9" >
				<div class="form-group">
					<label class="col-md-1 control-label">Name</label>
					<div class="col-md-8">
						<textarea class="form-control"  ng-model="name"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="tableNumber" class="col-md-1 control-label">Table</label>
					<div class="col-md-2">
						<input type="number" class="form-control" id="tableNumber" min="1" max="68" placeholder="#" ng-model="tableNum">
					</div>
					<p>Note: If you are not a table please specify your location below.</p>
				</div>

				<div class="form-group">
					<label for="tech">Technology</label><br>
					<label class="radio-inline" ng-repeat="option in radio_option">
						<input type="radio" name="mentorTechOption"   ng-value="option" ng-model="selected_radio.option"> {{option}}
					</label>

				</div>
				<div class="form-group">
					<label for="">Description</label>
					<textarea class="form-control" rows="3" ng-model="description"></textarea>
				</div>
				<button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
				<span ng-show="incomplete" style="color: red;">Incomplete inputs</span>
			</form>

			<div class="col-md-3" style="margin-top: 20px;">
				 <ul class="list-group " style="overflow-y: auto; max-height: 400px; width: 100%;">
				  <li class="list-group-item animated fadeInUp" ng-repeat="(key, request) in requestList" ng-show="!request.request.status">
				  	{{request.request.name}}
				  	 <!-- <span style="float: right; width: 15px; height: 15px; background: green;"></span> -->
				  	 <!-- <span style="float: right; height: 15px; background: yellow; padding: 3px;">Pending...</span></li> -->
				  	 <div style="display: inline; float:right; background: yellow; padding: 3px;">Pending</div>
				</ul>
			</div>
		</div>
	</div> <!-- Box -->
</div>
